@mixin shadow {
    
    box-shadow: 0 10px 25px rgba(color(main), 0.1);
}

@mixin shadow2 {
    
    box-shadow: 0 10px 25px rgba(color(main), 0.5);
}

@mixin trans {
    transition: all .2s ease-in-out;
}


    @keyframes rotate {
        0%{
            transform: rotate(0);
        }
        100%{
            transform: rotate(360deg);

        }
    }

    @mixin mtb {
        margin-top: 10rem;
    }


    @mixin for-phone-only {
        @media (max-width: 599px) { @content; }
      }
      @mixin for-tablet-portrait-up {
        @media (min-width: 600px) { @content; }
      }
      @mixin for-small-desktop {
        @media (max-width: 750px) { @content; }
      }
      @mixin for-tablet-landscape-up {
        @media (min-width: 900px) { @content; }
      }
      @mixin for-desktop-up {
        @media (max-width: 1200px) { @content; }
      }
      