$colors:(

    main: #1F7352,
    main-light: rgba(31, 115, 81, 0.307),
    grey: #777,
    grey-light: #999,
    black: #000,
    white: #ffffff


);


$main-font: "Roboto";
$second-font: "Poppins";

$sizes: (
  main: 5.3rem,
  large: 3rem,
  medium: 2.4rem,
  small: 1.6rem,
  extra-small: 1rem
);